REACT_APP_CANDY_MACHINE_ID=H3VAkPcCqnYevVpKd7RSVx9QuNFhxtS93kM5XnjyP5KR

REACT_APP_SOLANA_NETWORK=devnet
REACT_APP_SOLANA_RPC_HOST=https://solana-devnet.g.alchemy.com/v2/kcMbXYo0Lv7aX5jz_lS8om00B5jF9FIW
SKIP_PREFLIGHT_CHECK=true
